*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul{
    list-style: none;
}

.site-header{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px;
}

.site-logo{
    font-family: sans-serif;
    color: rgb(3, 110, 91);
}

.menu-list{
    display: flex;
    gap: 20px;
    align-items: center
}

.menu-link{
    text-decoration: none;
    font-weight: bold;
    color: rgb(3, 110, 91);
    font-size: 22px;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title{

}

.home-bg-image{
    width: 100%;
    border-radius: 30px;
}

.promotions-title{
    text-align: center;
    margin: 40px 0;
    color: rgb(3, 110, 91);
}

.promotions-images{
    display: flex;
    gap: 20px;
    justify-content: center;
}

#promotions .image-item{
    width: 635px;
    height: 451px;
    background-image: url(https://www.melissa.com.br/ccstore/v1/images/?source=/file/v5485647716565119949/products/cor.36066.36066BE51411_o.jpg&height=550&width=550);
    border-radius: 20px;
}  